<!DOCTYPE html>
{% extends "default/base.html" %}
{% load staticfiles %}

{% block css_block%}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body_block%}
    <h1>DJANGO TEMPLATE</h1>
    <!-- <img src="{% static "images/city.jpg" %}" alt="opps" style="width:75%;height:75%;" /> -->
    <div class="djangotwo">
        {% if access_record %}
            <table>
                <thead>
                    <th>Site Name</th>
                    <th>Date Acessed</th>
                </thead>
                <tbody>
                    {% for data in access_record %}
                        <tr>
                            <td>{{ data.name }}</td>
                            <td>{{ data.date }}</td>
                        </tr>
                        
                    {% endfor %}        
                </tbody>
            </table>
        {% else %}
            <p>No data found!</p>
        {% endif %}
    </div>
{% endblock %}