argon2-cffi==18.3.0
bcrypt==3.1.4
cffi==1.11.5
Django==2.1.6
Faker==0.9.1
pycparser==2.19
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
text-unidecode==1.2
django-braces==1.13.0
django-bootstrap3==11.0.0
misaka==2.1.0
